<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.css">
        {% block stylesheets %}{% endblock %}
        <style>
            label, .col-form-label {
                font-size: 10px;
            }

            .form-group select, .form-group input {
                height: 30px !important;
                margin: 0px !important;
            }

            label.required:before {
                content: "*";
            }

            #logform label {
                display: none;
            }

            #logform .form-group {
                display: inline-block !important;
            }

            #logform #login_user_submit {
                border: solid 1px;
            }

            footer {
                opacity: 0.9;
                z-index: 9999;
            }
        </style>
        <script
                src="http://code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                crossorigin="anonymous"></script>
    </head>
    <body>

    <div class="container-fluid bg-primary">
    <header class="navbar navbar-expand-md navbar-dark bg-primary">

            <a href="{{ path('home') }}" class="navbar-brand">
              <img src="images/.png" width=90px height=60px alt="ArticleMania">
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-content">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav mr-auto">
                  
                </ul>
                <ul class="navbar-nav ml-auto">
                    <div id="logform" class="">
                     {{ form_start(login_form,{'action': path('login')}) }}
                     {{ form_row(login_form.email) }} 
                     {{ form_row(login_form.password) }} 
                     {{ form_end(login_form) }} 
                     </div>
                    <!--<li class="nav-item"><a href="" class="nav-link"><i class="fas fa-user-plus"></i>Enregistrement</a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-sign-in-alt"></i>Connexion</a></li>-->
                </ul>
            </div>

    </header>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }} alert alert-dismissible alert-primary">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    <footer class="navbar fixed-bottom ms-auto bg-primary text-center"> @Copyright </footer>
    </body>
</html>
