{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Article</h1>


        <h2>{{ article.title }}</h2>

        <img src="{{ article.picture }}">

        <p>{{ article.tag }}</p>        <p>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</p>



        <p>{{ article.content }}</p>


        <a href="{{ path('article_index') }}">back to list</a>

        {% if app.user %}
        {% if article.user.id == app.user.id %}
            <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
        {% endif %}
        {% endif %}


        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% for comment in comments %}

                <p>{{ comment.content }}</p>
                <br>
                <p>{{ comment.user }}</p>

            {% endfor %}

            {{ include('comment/_form.html.twig') }}
            <button class="btn">{{ button_label|default('Save') }}</button>

        {% endif %}

        {% if article.user == app.user %}
            {{ include('article/_delete_form.html.twig') }}
        {% endif %}
    </div>


{% endblock %}
